.ticket-entry {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;

  padding: 0.5em 5px;
  border-bottom: 1px solid #c7dff6;

  .id {
    color: slategray;
    margin-right: 1em;
    grid-column: 1;
  }
}
